*{
  box-sizing: border-box;
 }

body{
  font-family: 'Raleway', comic;
  text-align: center;
  color: #000;
  font-size: 16px;
  background-color: #fff;
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
}

img{
  width: 100%;
}

.main-header{
  background-color: #ea9652;
  overflow: hidden;
}

.logo{
  width: 15%;
  height: 60px;
  /*background-color: green;*/
  float: left;
  line-height: 60px;
}

.logo a{
  color: #2b2d42;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  font-weight: bold;
}

.logo a img{
  width: 32px;
  height: auto;
  line-height: 60px;
}

.open{
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #000;
  border-radius: 50%;
  color: #fff;
}

#abreNav{
  display: none;
}

/* selector de hermanos */
#abreNav:checked ~ ul{
  width: 100vw;
}

.close{
  position: absolute;
  z-index: 200;
  right: 10px;
  top: 10px;
  color: #fff;
  font-size: 20px;
}

.nav-container ul{
  margin: 0;
  padding: 0;
  list-style: none;
  position: fixed;
  overflow: hidden;
  width: 0;
  height: 100vh;
  background-color: #ea9652;
  left: 0;
  top: 0;
  z-index: 10;
  transition: 350ms;
}

.nav-container ul li a{
  display: block;
  text-align: left;
  color: #2b2d42;
  position: relative;
  z-index: 100;
  padding: 15px;
  border-bottom: solid 1px #fff;
}

.nav-right{
  /*background-color: black;*/
  float: right;
  margin-top: 15px;
}

.nav-right a{
  margin: 0 10px;
  background-color: #ffdda1;
  padding: 10px;
  border-radius: 8px;
  color: #012d77;
}


a{
  text-decoration: none;
  color: #2b2d42;
 }

.banner{
  width: 100%;
  height: auto;
  margin: 0 0;
  padding: 0 0;
  border: solid 1px #cded4b;
  display: block;
}
.logo_completo{
  max-width: 50%;
  clear: both;
  margin: 30px auto 15px auto;
  position: relative;
  left: 50%;
  transform: translate(-100%);
  text-align: center;
}

.img_logo{
  width: 20vw;
  padding: 0;
  display: inline-block;
}

.letra_logo{
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 1.5em;
}

/*------------------Container Grillas----------------------------*/
.grilla{
  width: 30vw;
  height: 80vh;
  margin: 10px;
  float: left;
}
.grilla img{
  display: inline-block;
  width: 25vw;
}
.grilla h4{
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  margin: 5px;
}
.grilla p{
  clear: both;
  margin: 5px;
}
.grilla a{
  clear: both;
  background-color: #ea9652;
	color: #fff;
	display: inline-block;
	padding: 15px;
	margin-bottom: 10px;
  clear: both;
  position: relative;
  text-align: center;
}

/*-------------------Registro y Login----------------------------*/

.form-box{
  background-color: white;
  opacity: 0.9;
  width: 35%;
  margin: auto;
  padding: 20px 20px;
  border-radius: 2%;
  color: black;
  font-size: 16px;
}
.form-box a{
  color:#012d77;
}

.register-container{
  width: 380px;
  height: auto;
  display: block;
  padding: 0;
  margin: 0 0;
  display: inline-block;
}

.tos{
  width: 300px;
}

.tos .check-box{
  position: relative;
  float: left;
}

.register a{
  font-size: 16px;
}

.register input{
  width: 80%;
  height: 40px;
  padding: 5px 5px;
  font-size: 20px;
  text-align: center;
}

.register .check-box{
  position: relative;
  width: auto;
  height: auto;
}

button{
  width: 80%;
  height: 40px;
  margin-left: auto;
  background-color: #EA8A2A;
  border: none;
  border-radius: 3%;
  color:white;
  font-size: 22px;
}

.register-container{
  width: 100%;
  height: auto;
  background-image: url("../images/hotdogs.jpg");
  background-attachment:scroll;
  margin: 0;
  padding: 0;
}

.tos{
  display: inline-block;
  width: 300px;
  height: 35px;
  padding: 0;
  margin: 0;
}

.login-box{
  background-color: white;
  width: 380px;
  display: block;
  margin: auto;
  padding: 20px 20px;
  display: inline-block;
}

.login-box input{
  width: 300px;
  height: 35px;
  padding: 5px 5px;
  font-size: 20px;
  text-align: center;
}

.login-box .check-box{
  position: relative;
  width: auto;
  height: auto;
}

.recover-box{
  background-color: white;
  width: 380px;
  display: block;
  margin: auto;
  padding: 20px 20px;
  display: inline-block;
}

.recover-box input{
  width: 300px;
  height: 35px;
  margin: 10px 10px;
  padding: 5px 5px;
  font-size: 20px;
  text-align: center;
}

.recover-box button{
  width: 70%;
  height: 40px;
  margin-left: auto;
  background-color: #EA8A2A;
  border: none;
  border-radius: 3%;
  color:white;
  font-size: 22px;
}

.faqs{
  width: 100%;
  height: 23.43%;
}

.preg {
  display: block;
  margin-bottom: 20px;
  text-align: left;
}
.img_cubiertos{
  width: 15px;
  display: inline-block;
  float: left;

  border-radius: 50%;
}


p{
  clear: both;
}



/****** Media-Queries******/
@media (min-width: 850px) {
  .open, .close{
    display: none;
  }

  .main-header{
    padding: 10px;
  }

  .nav-container{
    float: left;
    margin-left: 50px;
  }

  .nav-container ul{
    position: static;
    width: auto;
    height: auto;
  }

  .nav-container ul li{
    display: inline-block;
  }

  .nav-container ul li a{
    border-bottom: none;
  }

  .grilla, img, h4{

  }

}
